<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Nombres:</strong>
    <%= proveedor.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= proveedor.apellidos %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= proveedor.telefono %>
  </p>

  <p>
    <strong>Nit:</strong>
    <%= proveedor.nit %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= proveedor.correo %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= proveedor.direccion %>
  </p>

</div>
