<div id="<%= dom_id ventadetalle %>">
  <p>
    <strong>Venta:</strong>
    <%= ventadetalle.venta_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= ventadetalle.producto_id %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= ventadetalle.cantidad %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= ventadetalle.precio %>
  </p>

</div>
