<div id="<%= dom_id vendedor %>">
  <p>
    <strong>Nombre:</strong>
    <%= vendedor.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= vendedor.apellido %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= vendedor.telefono %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= vendedor.correo %>
  </p>

  <p>
    <strong>Fecha contratacion:</strong>
    <%= vendedor.fecha_contratacion %>
  </p>

</div>
