<div id="<%= dom_id venta %>">
  <p>
    <strong>Cliente:</strong>
    <%= venta.cliente_id %>
  </p>

  <p>
    <strong>Vendedor:</strong>
    <%= venta.vendedor_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= venta.fecha %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= venta.total %>
  </p>

</div>
